@import "https://js.arcgis.com/calcite-components/2.8.6/calcite.css";
@import "https://js.arcgis.com/coding-components/4.30/arcgis-coding-components.css";

/* Normally a light or dark calcite theme would also be imported here, but Web
will take care of these styles itself. */

.gcx-dialog {
    max-width: calc(100% - 10vw);
    min-width: 50vw;
    width: auto;
}

.editor-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    min-width: 150px;
    max-height: 50vh;
    max-width: 50vw;
    box-sizing: border-box;
    padding: 1rem;
}

arcgis-arcade-editor {
    /* Font sizing issues inside the webcomponent can be adressed by redeclaring
     * the css variables on the webcomponent host */
    --calcite-font-size-0: 1.6rem;
    --calcite-font-size--1: 1.4rem;
    --calcite-font-size--2: 1.2rem;
}
